{% extends 'base.html' %}
{% block title %}
  Books Page
{% endblock %}

{% block content %}
<table class="table table-hover table-dark">
  <thead>
      <tr>
          <!-- Your Columns HERE -->
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Genre</th>
          <th scope="col">Page</th>
          <th scope="col">Options</th>

      </tr>
  </thead>
  <tbody>
      <!-- Your rows inside the table HERE: -->
       {% for item in items%}
          <tr>
              <td>{{ item.id }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.genre }}</td>
              <td>{{ item.page }}-syf</td>
              <td>
                <button class="btn btn-outline btn-info">More Info</button>
                <button class="btn btn-outline btn-success">Download the PDF of this book</button>
              </td>
          </tr>
        {% endfor %}
        
  </tbody>
</table>
{% endblock %}